
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center-content{

    display: flex;
    justify-content: center;
    margin-top: 20em;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}


.mainlayout{
    display: flex;
    gap: 20px;
}

.sider{
    height: 100vh;
    width: 300px;
    border: 1px solid black;
}

.nav{
    text-align: center;
}

.nav li{
    font-size: 25px;   
}

ul{
    margin-top: 5em;
}

.a{
    text-decoration: none;
    color: black;
}

.content{
    width: 50%;
    height: 700px;
    overflow: auto;
    
}