.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 3px;
}

.nav-list>ul{
    list-style: none;
    display: flex;
}

.nav-list > ul > li {
    padding: 20px;
    font-size: 20px;
}

.logo{
    width: 100px;
}

.food-card{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    width: 200px;
}

.food-card>img{
    width: 100%;
}

.food-card-list{
    display: flex;
    flex-wrap: wrap;
}

.searchBar{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}